/* Let's get this party started */
::-webkit-scrollbar {
    height: 4px;
}

xmp {
    padding: 10px;
    border: none;
    background: #e9eced;
    border-radius: 4px;
    color: #808ea2;
    margin: 5px 0;
    overflow: hidden;
    overflow-x: scroll;
    
}

.fb-messengermessageus {
    width: 150px;
}

.fb_button {
    padding: 10px 0;
}